{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'about_us.css' %}">
    <title>О нас</title>
</head>

<body>
    <header class="header">
        <div class="kompaniya">
            <h1>КОМПАНИЯ АЯКС</h1>
        </div>
        <div class="pages">
            <a href="http://127.0.0.1:8000/">Главная</a>
            <a href="http://127.0.0.1:8000/about_us/">О нас</a>
            <a href="http://127.0.0.1:8000/services/">Наши услуги</a>
            <a href="http://127.0.0.1:8000/our_works/">Наши работы</a>
            <a href="http://127.0.0.1:8000/contacts/">Контакты</a>
        </div>
    </header>
    <div class="title">
        <h1 class="first">НАША</h1>
        <h1 class="second">КОМПАНИЯ</h1>
    </div>
    <section class="sectOne">
        <div class="leftSide">
            <img src="{% static 'img/about_us/File_29.jpg' %}" alt="">
        </div>
        <div class="rightSide">
            <p>Переход к рыночным условиям и структурная перестройка экономики Украины привели к коренным изменениям в
                строительном комплексе. Строительный рынок Украины развивается, устаревшие технологии уходят в прошлое,
                на смену им приходят современные, соответствующие мировым стандартам маркетинговые работы при выборе
                искомого материала, технологии, поставщика или подрядчика.
                Компания не отстает от инновационных подходов в строительстве, зачастую является новатором и примером
                для других компаний по внедрению новейших методов работы. В доказательство своему высокому
                профессионализму компания постоянно получает награды различных конкурсов.

            </p>
        </div>
    </section>
    <section class="sectTwo">
        <div class="block">
            <ul><img src="{% static 'img/about_us/File_31.png' %}" alt=""></ul>
            <ul>
                <h4>Топ-бренд продуктов</h4>
                <p>Наше предприятие   предлагает выполнить для Вас представительские,  консультационные и иные услуги, относительно, подготовки необходимых документов  для получения строительного паспорта.</p>
            </ul>
        </div>
        <div class="block">
            <ul><img src="{% static 'img/about_us/File_30.png' %}" alt=""></ul>
            <ul>
                <h4>Обслуживание клиентов</h4>
                <p>Стоимость консультаций, услуг, а также сроки, получения строительного паспорта  определяются в каждом отдельном случае, после детального изучения имеющихся и предоставленных Вами документов.</p>
            </ul>
        </div>
    </section>
    <section class="sectTwo">
        <div class="block">
            <ul><img src="{% static 'img/about_us/File_34.png' %}" alt=""></ul>
            <ul>
                <h4>Проектирование</h4>
                <p>Что же представляет собой «проектирование спортивных сооружений»? На этот вопрос ответить однозначно нельзя, так как спортивные сооружения это не только спортзалы и спорткомплексы, это еще и спортивные площадки, в том числе</p>
            </ul>
        </div>
        <div class="block">
            <ul><img src="{% static 'img/about_us/File_32.png' %}" alt=""></ul>
            <ul>
                <h4>Зеленое строительство</h4>
                <p>Проектно-строительная компания вот уже несколько лет успешно осуществляет проектирование спортивных сооружений на территории нашей страны. Как правило, в своей работе специалисты компании используют комплексный подход</p>
            </ul>
        </div>
    </section>
    <section class="sectThree">
        <div class="leftSide">
            <h3>ФИНАНСИРОВАНИЕ</h3>
            <ul>
                <h3 class="textTitle">• Кредит</h3>
                <p>Кирпичные дома под ключ от проектно-строительной компании - это действительно отличный выбор</p>
            </ul>
            <ul>
                <h3 class="textTitle">• Ипотека</h3>
                <p>Массовое увлечение спортом и спортивными играми обусловила необходимость в проектировании</p>
            </ul>
            <ul>
                <h3 class="textTitle">• Заем на строительство</h3>
                <p>Наше предприятие   предлагает выполнить для Вас представительские</p>
            </ul>
        </div>
        <div class="rightSide">
            <h3>ОСОБЕННОСТИ</h3>
            <p>→ Подбор участков под будущее строительство</p>
            <p>→ Разработка проектов</p>
            <p>→ Согласование, авторский надзор</p>
            <p>→ Строительство и реконструкция объектов</p>
            <p>→ Разработка дизайн – проектов</p>
            <p>→ Внутренняя и фасадная отделка</p>
            <p>→ Ввод объектов в эксплуатацию</p>
            <p>→ Разработка проектов</p>
        </div>
    </section>
    <footer>
        <div><p>All Right Reserved © 2014 «Аякс компани»</p></div>
        <div>
            <a href="https://ok.ru/"><img src="{% static 'img/about_us/File_27.png' %}" alt="Img"></a>
            <a href="https://www.viber.com/ru/"><img src="{% static 'img/about_us/File_28.png' %}" alt="Img"></a>
            <a href="https://twitter.com/"><img src="{% static 'img/about_us/File_23.png' %}" alt="Img"></a>
            <a href="https://www.instagram.com/"><img src="{% static 'img/about_us/File_24.png' %}" alt="Img"></a>
            <a href="https://www.facebook.com/"><img src="{% static 'img/about_us/File_25.png' %}" alt="Img"></a>
            <a href="https://www.google.com/"><img src="{% static 'img/about_us/File_26.png' %}" alt="Img"></a>
        </div>
    </footer>
</body>

</html>