{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'our_works.css' %}">
    <title>Наши работы</title>
</head>

<body>
    <header class="header">
        <div class="kompaniya">
            <h1>КОМПАНИЯ АЯКС</h1>
        </div>
        <div class="pages">
            <a href="http://127.0.0.1:8000/">Главная</a>
            <a href="http://127.0.0.1:8000/about_us/">О нас</a>
            <a href="http://127.0.0.1:8000/services/">Наши услуги</a>
            <a href="http://127.0.0.1:8000/our_works/">Наши работы</a>
            <a href="http://127.0.0.1:8000/contacts/">Контакты</a>
        </div>
    </header>
    <section class="sectOne">
        <div class="block">
            <img src="{% static 'img/our_works/File_40.jpg' %}" alt="img">
            <ul>
                <h4>Дома из камня 74 м кв.</h4>
                <p>Уютный маленький загородный дом – подойдет для проживания небольшой семьи. Дом включает в себе
                    удобную планировку.</p>
            </ul>
        </div>
        <div class="block">
            <img src="{% static 'img/our_works/File_41.jpg' %}" alt="img">
            <ul>
                <h4>Дома из дикого бруса 125 м кв.</h4>
                <p>Сочетание новаторства и традиций – основной лейтмотив в планировке и внешнем облике этого дома. В
                    доме есть все необходимое для проживания.</p>
            </ul>
        </div>
        <div class="block">
            <img src="{% static 'img/our_works/File_42.jpg' %}" alt="img">
            <ul>
                <h4>Современный котедж 250 м кв.</h4>
                <p>Современный коттедж с мансардой рассчитан на комфортное проживание за городом семьи из 5-6 человек,
                    состоящей из нескольких поколений.</p>
            </ul>
        </div>
    </section>
    <section class="sectOne">
        <div class="block">
            <img src="{% static 'img/our_works/File_43.jpg' %}" alt="img">
            <ul>
                <h4>Дома из полубруса 108 м кв.</h4>
                <p>Сруб деревянного дома или бани из лафета изготавливается на производстве на современных деревообрабатывающих станках.
                </p>
            </ul>
        </div>
        <div class="block">
            <img src="{% static 'img/our_works/File_44.jpg' %}" alt="img">
            <ul>
                <h4>Традиционный дом 105 м кв.</h4>
                <p>При строительстве загородного дома из пеноблоков можно использовать для их соединения особый клей. Эта технология позволяет сузить щели</p>
            </ul>
        </div>
        <div class="block">
            <img src="{% static 'img/our_works/File_45.jpg' %}" alt="img">
            <ul>
                <h4>Каркасный дом 105 м кв.</h4>
                <p>Строительство каркасных домов сегодня приобретает большую популярность. Высокая скорость строительства каркасных домов.</p>
            </ul>
        </div>
    </section>
    <section class="sectOne">
        <div class="block">
            <img src="{% static 'img/our_works/File_46.jpg' %}" alt="img">
            <ul>
                <h4>Уютный загородный дом 74 м кв.</h4>
                <p>Коттедж дарит несомненные преимущества по сравнению с городской квартирой. Здесь Вам не надо беспокоиться о соседях.</p>
            </ul>
        </div>
        <div class="block">
            <img src="{% static 'img/our_works/File_47.jpg' %}" alt="img">
            <ul>
                <h4>Кирпичный дом 95 м кв.</h4>
                <p>Кирпич - это искусственно приготовленный строительный материал. Этот материал отличается высокой степенью защищенности.
                </p>
            </ul>
        </div>
        <div class="block">
            <img src="{% static 'img/our_works/File_49.jpg' %}" alt="img">
            <ul>
                <h4>Современный котедж 105 м кв.</h4>
                <p>Современный коттедж с мансардой рассчитан на комфортное проживание за городом семьи из 5-6 человек, состоящей из нескольких поколений.</p>
            </ul>
        </div>
    </section>
    <footer>
        <div><p>All Right Reserved © 2014 «Аякс компани»</p></div>
        <div>
            <a href="https://ok.ru/"><img src="{% static 'img/our_works/File_27.png' %}"></a>
            <a href="https://www.viber.com/ru/"><img src="{% static 'img/our_works/File_28.png' %}" alt="Img"></a>
            <a href="https://twitter.com/"><img src="{% static 'img/our_works/File_23.png' %}" alt="Img"></a>
            <a href="https://www.instagram.com/"><img src="{% static 'img/our_works/File_24.png' %}" alt="Img"></a>
            <a href="https://www.facebook.com/"><img src="{% static 'img/our_works/File_25.png' %}" alt="Img"></a>
            <a href="https://www.google.com/"><img src="{% static 'img/our_works/File_26.png' %}" alt="Img"></a>
        </div>
    </footer>
</body>

</html>