{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'services.css' %}">
    <title>Наши услуги</title>
</head>

<body>
    <header class="header">
        <div class="kompaniya">
            <h1>КОМПАНИЯ АЯКС</h1>
        </div>
        <div class="pages">
            <a href="http://127.0.0.1:8000/">Главная</a>
            <a href="http://127.0.0.1:8000/about_us/">О нас</a>
            <a href="http://127.0.0.1:8000/services/">Наши услуги</a>
            <a href="http://127.0.0.1:8000/our_works/">Наши работы</a>
            <a href="http://127.0.0.1:8000/contacts/">Контакты</a>
        </div>
    </header>
    <section class="sectOne">
        <div class="block">
            <img src="{% static 'img/services/File_35.jpg' %}" alt="img">
            <ul>
                <h4>Уютный загородный дом 74 м кв</h4>
                <p>Уютный маленький загородный дом – подойдет для проживания небольшой семьи. Дом включает в себе
                    удобную планировку.</p>
            </ul>
        </div>
        <div class="block">
            <img src="{% static 'img/services/File_37.jpg' %}" alt="img">
            <ul>
                <h4>Традиционный дом 105 м кв.</h4>
                <p>Сочетание новаторства и традиций – основной лейтмотив в планировке и внешнем облике этого дома. В доме есть все необходимое для проживания семьи.</p>
            </ul>
        </div>
        <div class="block">
            <img src="{% static 'img/services/File_36.jpg' %}" alt="img">
            <ul>
                <h4>Современный котедж 105 м кв.</h4>
                <p>Современный коттедж с мансардой рассчитан на комфортное проживание за городом семьи из 5-6 человек, состоящей из нескольких поколений.</p>
            </ul>
        </div>
    </section>
    <section class="sectTwo">
        <div class="leftSide">
            <h3>Наши услуги</h3>
            <img src="{% static 'img/services/File_38.jpg' %}" alt="img">
            <p>Современные города достаточно быстро меняют свой внешний вид. На смену серым, однообразным, лишённым архитектурных особенностей, домам, построенным в советское время, приходят высокотехнологичные здания, с продуманными деталями</p>
        </div>
        <div class="rightSide">
            <h3>Перечень услуг</h3>
            <h4>Проектирование и строительство</h4>
            <p>→ Гостиничных комплексов</p>
            <p>→ Ремонт и отделка</p>
            <p>→ Гостиничных номеров</p>
            <h4>Реставрация</h4>
            <p>→ Ремонт</p>
            <p>→ Облицовка фасадов</p>
            <h4>Строительство сооружений </h4>
            <p>→ Ангарного типа</p>
            <p>→ Быстровозводимые здания</p>
            <p>→ Монтаж сэндвич-панелей</p>
            <h4>Архитектура</h4>
        </div>
    </section>
    <footer>
        <div><p>All Right Reserved © 2014 «Аякс компани»</p></div>
        <div>
            <a href="https://ok.ru/"><img src="{% static 'img/services/File_27.png' %}" alt="Img"></a>
            <a href="https://www.viber.com/ru/"><img src="{% static 'img/services/File_28.png' %}" alt="Img"></a>
            <a href="https://twitter.com/"><img src="{% static 'img/services/File_23.png' %}" alt="Img"></a>
            <a href="https://www.instagram.com/"><img src="{% static 'img/services/File_24.png' %}" alt="Img"></a>
            <a href="https://www.facebook.com/"><img src="{% static 'img/services/File_25.png' %}" alt="Img"></a>
            <a href="https://www.google.com/"><img src="{% static 'img/services/File_26.png' %}" alt="Img"></a>
        </div>
    </footer>
</body>

</html>